
/*about col2*/

/*.f {
    display: flex;
    width: 360px;
}

.f--title {
    font-size: 45px;
    font-weight: 700;

}

.f1,
.f2,
.f3 {
    margin-right: 25px;
    }


    */

    body {
      width: 1440px;
    }

    .about__left li {
      list-style: none;
  

    }

    .style--imge {
      display: inline-flex;
      background-color: #cccccc;

    }

    li.partners__item {
      margin-right: 25px;
      margin-top: 64px;
      margin-bottom: 52px;
      padding-left: 25px;
      list-style: none;
      background-image: url("../img/lb.png");
      background-repeat: no-repeat;
      background-position: 0 10px;

    }


    .about-item .about-item--red {
      color: red;
    margin-right: 20px;
    }